<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>

<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
               <a class="" asp-area="index" asp-page="/Index">WMX</a>
                <a class="" asp-area="Privacy" asp-page="/Privacy">SDA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
      </header>*@
    <div class="body">

    <div class="mobile-container">
        <div class="topnav">
            <a class="" asp-page="/index" class="active"> WMX </a>
            @*<a class="" asp-page="/PC"> WMX PC </a>*@
            <a class="" asp-page="/EQCTablet"> EQC </a>
             <a class="" asp-page="/TSATPE"> TSA </a>
               @*<a class="" asp-page="/TSATPC"> TSA TPC </a>*@
        </div>
        @*<div class="body">*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @*</div>*@
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2022 - WMX - Privacy 
        </div>
    </footer>
    <a asp-area="" asp-page="/Privacy">Privacy</a>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    </div>
</body>
</html>

